*{
    --beige: #D9CFC3;
    --darkgreen:#4E5B4B;
    --white:#FFFFFF;
    /* color:black; */
}



body {
    background-color: var(--beige);
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    /* justify-content: baseline; */
    flex-direction: column;
    /* Text align is horizontal */
    text-align: center;
    /* align items is vertical  */
    align-items: center;
}

header{
    display:flex;
    /* justify-content: baseline; */
    flex-direction: column;
    /* Text align is horizontal */
    text-align: center;
    /* align items is vertical  */
    align-items: center;
}

.logo{
    height: 150px;
    width: 150px;
    background-color: var(--darkgreen);
    color: var(--white);
    display:flex;
    justify-content: center;
    /* Text align is horizontal */
    text-align: center;
    /* align items is vertical  */
    align-items: center;
    border:solid #DADCE0 5px;
    border-radius: 50%;
}

.logo p{
    background-color: #4E5B4B;
    color: var(--white);
    font-size: 1.5rem;
    padding: 1.5rem;
    border-radius: 20%;
}

nav a:hover {
    background-color: darkblue;
    animation-name: spin;
    animation-duration: 3s;
}
nav a {
    text-decoration: none;
    background-color: #4E5B4B;
    color: white;
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 15%;
}

.training-option {
    margin-top: 15dvw;
    background-color: var(--darkgreen);
    color: var(--white);
    padding: 1rem;
    border-radius: 5%
}

.training-option img {
    width: 75dvw;
    border-radius: 5%;
}

@media screen and (min-width: 600px) {
    main {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-around;
        text-align: center;
        align-items: center;
    }
}
/* The animation code
@keyframes example {
    from {background-color: red;}
    to {background-color: yellow;}
  } */

  


    nav a {
        font-size: 1.5rpm;
    }

    .training-option {
        margin-top: 5dvw;
     
    }

    .training-option img {
        /* width: 25dvw;
        border-radius: 5% */
        width: 335px;
        height: 250px;
    }

}

    
